<div>
	<div class="container">
		<div class="text-center">
			<h1>Range of Sentiment Values</h1>

			<p>These sentiment values are based on all headlines gathered since June 24, 2020.</p>
			<button id="button1" class="btn btn-primary">Generate Graph</button>
			<div>
				{% for key in my_hist_data%}
					<input type="checkbox" id = "checkbox_{{key}}" name="{{key}}" class="form-check">
					<label for="{{key}}">{{key}}</label>
				{% endfor %}
			</div>

		</div>

		<div id = "myDiv"></div>
	</div>

	<script type="text/javascript">

		var button1 = document.getElementById('button1');
		var data = {{my_hist_data|safe}};

		button1.onclick = function() {generate_graph(data)};

		function generate_graph(data) {
			var colors = ["purple", "orange", "green", "blue", ];

			var traces = []
			var index = 0; 

			for(var key in data){

				var isChecked = document.getElementById('checkbox_' + key).checked

				if(isChecked){
					trace = {x: data[key],
							 name: key,
							 autobinx: false,
							 histnorm: "probability",
							 marker: {
							 	color: colors[index],
							 	line: {
							 		color: colors[index],
							 		width: 1
							 	}
							 },
							 opacity: 0.5,
							 type: "histogram",
							 xbins: {
							 	end: 1.0,
							 	size: 0.01,
							 	start: -1.0
							 }
					};
					traces.push(trace);
				}
				
				index += 1;
			}

			var layout = {
			  font: {
			  	family: 'Arial'
			  },
			  bargap: 0.0, 
			  barmode: "overlay", 
			  title: "", 
			  xaxis: {title: "Sentiment Value"}, 
			  yaxis: {title: "Percent Number of Headlines for Each News Source"}
			};
			Plotly.newPlot('myDiv', traces, layout);
		}
	</script>
</div>