<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="..">Newslytics</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="../process">Our Process <span class="sr-only">(current)</span></a></li>
            <li><a href=".">About Us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Charts <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Sentiment Analysis Comparison</a></li>
                <li><a href="#">Hot Topics Word Cloud</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Search Topics</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <h2>About Us</h2>
    </div>

    <div class="container-fluid">
      <h4>Who We Are</h4>

      <p>We are two bored programmers looking for things to do over the summer during the COVID-19 pandemic.</p>

      <h4>Purpose</h4>

      <p>This project was created to practiced using data analysis on real world data. Because we were interested in seeing how biases differ between news sources, our project focused on gathering data from news headlines.</p>

    </div>


    <div class = "text-center">
        <p></p>
        <p>Copyright 2020 ©  All rights reserved. Don't Copy our CODE</p>
    </div>
  </body>
</html>