<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div id = "navigation-bar">
      {% include 'headlines/navigation_bar.html' %}
    </div>

    <div class="container-fluid">

        <div class="page-header">
            <h2>About Us</h2>
        </div>
    
      <h4>Who We Are</h4>

      <p>We are two bored programmers looking for things to do over the summer during the COVID-19 pandemic.</p>

      <br>
    
      <h4>Purpose</h4>

      <p>This project was created to practiced using data analysis on real world data. Because we were interested in seeing how biases differ between news sources, our project focused on gathering data from news headlines.</p>

      <br>
    </div>


    <div class = "text-center">
        <p></p>
        <p>Copyright 2020 ©  All rights reserved. Don't Copy our CODE</p>
    </div>
  </body>
</html>