{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Chart Display</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<script src="{% static 'headlines/chart_generator.js' %}"></script>
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div id = "navigation-bar">
      {% include 'headlines/navigation_bar.html' %}
    </div>

	<div class="container">
	  <h2>Sentiment Analysis</h2>
	  <p>The Vader method was used to calculate the sentiment value of each headline.</p>
	  <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

	  <ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#home">Menu</a></li>
	    <li><a data-toggle="tab" href="#menu1">Percentage Bar Graph</a></li>
	    <li><a data-toggle="tab" href="#menu2">Sentiment Range Histogram</a></li>
	    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
	  </ul>

	  <div class="tab-content">
	    <div id="home" class="tab-pane fade in active">
	      <h3>Menu</h3>

	      <p>The following graphs are available for sentiment analysis.</p>

	      <ul>
	      	<li>Percent bar graph - This bar graph shows the percent of headlines that are positive, neutral, or negative for headlines of selected sources.</li>
	      	<li>Sentiment range histogram - This histogram shows the range of sentiment values for headlines of selected sources.
	      </ul>
	    </div>
	    <div id="menu1" class="tab-pane fade">
	      <div>
	      	{% include 'headlines/chart_templates/chart_percent_graph.html' %}
	      </div>
	    </div>
	    <div id="menu2" class="tab-pane fade">
	      <h3>Menu 2</h3>
	      <div>
	      	{% include 'headlines/chart_templates/chart_hist.html' %}
	      </div>
	    </div>
	    <div id="menu3" class="tab-pane fade">
	      <h3>Menu 3</h3>
	      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	    </div>
	  </div>
	</div>


</body>
</html>