{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sentiment Analysis</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<script src="{% static 'headlines/chart_generator.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

	<div class = "text-center">
		<h1>Sentiment Analysis</h1>
		<p>These sentiment values are based on all headlines gathered since June 24, 2020.</p>
		<button id="button1" class="btn btn-primary">Generate Graph</button>
		<div>
			{% for key in mydata%}
				<input type="checkbox" id = "checkbox_{{key}}" name="{{key}}" class="form-check">
				<label for="{{key}}">{{key}}</label>
			{% endfor %}
		</div>
	</div>
	

	<canvas id = "chart1"></canvas>
	<script>
		var ctx = document.getElementById('chart1').getContext('2d');
		var button1 = document.getElementById('button1');

		button1.onclick = function() {myFunction(ctx)};

		function myFunction(ctx){
			var datasets = {{mydata|safe}};
			var colors = ['red', 'orange', 'green', 'blue', 'purple'];
			var bar_inputs = [];
			var idx = 0;

			for(var key in datasets){
				var isChecked = document.getElementById('checkbox_' + key).checked

				if (isChecked){
					var input = {
						label: key,
						backgroundColor: colors[idx],
						borderColor: colors[idx],
						data: datasets[key]
					};
					bar_inputs.push(input);
				}

				idx +=1;
			}

			var chart = new Chart(ctx, {
				//the type of chart we want to create
				type : 'bar',

				//the data
				data:{
					labels: {{mylabels|safe}},
					datasets : bar_inputs,
				},

				//config options
				options: {
					title:{
						display: true,
						text: 'Percentage of Headlines in Each Sentiment Category',
						fontSize: 30
					},
					scales:{
						xAxes:[{
							scaleLabel:{
								display: true,
								labelString: 'Sentiment',
								fontSize: 20
							}
						}],
						yAxes:[{
							scaleLabel:{
								display: true,
								labelString: 'Percent',
								fontSize : 20
							},
							ticks : {
								beginAtZero: true
							}
						}]
					}
				}
			});
		}
	</script>
</body>
</html>