{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Keyword {{kw}}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'headlines/autocomplete.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<script src="{% static 'headlines/autocomplete_generator.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div id = "navigation-bar">
      {% include 'headlines/navigation_bar.html' %}
    </div>

	<div class="autocomplete">
		<input type="text" id="keywordBox" placeholder="Type ALL for all headlines">
		<button id="button1">Submit</button>
	</div>
	<ol>
		{% for datum in headlines %}
			<li>{{datum}}</li>
		{% endfor %}
	</ol>
	<script>
		var button1 = document.getElementById("button1");
		var textbox = document.getElementById("keywordBox");
		autocomplete(textbox, {{kws|safe}});

		var url =  "{% url 'headlines:keyword' 'foobar' %}";
		button1.addEventListener("click", function(){open_url_html(textbox, url)});

		function open_url_html(textbox, url_ref) {
			//alert("From html file!")
			open_url(textbox, url_ref);
		}
	</script>
</body>
</html>