{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
      .jumbotron {
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url("{% static 'headlines/website_header_image.PNG' %}");
        background-size: auto 100%;
      }
      h1 {
        text-shadow: 0 0 20px #337ab7;
      }
    </style>
  </head>

  <body>
    
    <div id = "navigation-bar">
      {% include 'headlines/navigation_bar.html' %}
    </div>

    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>Welcome to Newslytics</h1>
        <h3>Check out our tools to analyze media headlines!</h3>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <div class="well" style="background-color: #f7b783;">
            <div class="card">
              <img src="https://img.icons8.com/android/64/000000/bar-chart.png" style="margin-left:43%;"/>
              <div class="card-body text-center">
                <h2 class="card-title"><b>Sentiment Analysis Charts</b></h2>
                <p class="card-text">Bar graphs that compare sentiment values of headlines from multiple news sources</p>
                <a href="{% url 'headlines:sentiment' %}" class="btn btn-primary">See Charts</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well" style="background-color: #83c7f7;">
            <div class="card">
              <img src="https://img.icons8.com/wired/64/000000/cloud.png" style="margin-left:43%;"/>
              <div class="card-body text-center">
                <h2 class="card-title"><b>Hot Topics Word Cloud</b></h2>
                <p class="card-text">Word cloud that shows most popular topics in new headlines from multiple sources</p>
                <a href="{% url 'headlines:keyword_cloud' %}" class="btn btn-primary">See Word Cloud</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well" style="background-color: #d8f582;">
            <div class="card">
              <img src="https://img.icons8.com/dotty/80/000000/search-bar.png" style="margin-left:43%;"/>
              <div class="card-body text-center">
                <h2 class="card-title"><b>Search Headlines</b></h2>
                <p class="card-text">Search engine that returns list of headlines related to a given topic</p>
                <a href="{% url 'headlines:headline_filter' 'NONE' %}" class="btn btn-primary">See Search Engine</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class = "text-center">
        <p></p>
        <p>Copyright 2020 ©  All rights reserved. Don't Copy our CODE</p>
      </div>

    </div>

  </body>
</html>