{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
      .jumbotron {
        background-image: url("{% static 'headlines/website_header_image.PNG' %}");
        background-size: auto 100%;
      }
      mark{
        background-color: white;
      }
    </style>
  </head>

  <body>
    
    <div id = "navigation-bar">
      {% include 'headlines/navigation_bar.html' %}
    </div>

    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h2><mark>Welcome to Newslytics</mark></h2>
        <p><mark>Check out our tools to analyze media headlines!</mark></p>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Sentiment Analysis Charts</b></h5>
                <p class="card-text">Bar graphs that compare sentiment values of headlines from multiple news sources</p>
                <a href="{% url 'headlines:sentiment' %}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Hot Topics Word Cloud</b></h5>
                <p class="card-text">Word cloud that shows most popular topics in new headlines from multiple sources</p>
                <a href="{% url 'headlines:keyword_cloud' %}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Search Headlines</b></h5>
                <p class="card-text">Search engine that returns list of headlines related to a given topic</p>
                <a href="{% url 'headlines:keyword' 'NONE' %}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class = "text-center">
        <p></p>
        <p>Copyright 2020 ©  All rights reserved. Don't Copy our CODE</p>
      </div>

    </div>

  </body>
</html>