{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Keyword Cloud</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	<script src="{% static 'headlines/wordcloud_generator.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
    	.page-header{
    		text-align: center;
    	}
    	.header-style{
    		text-align: center;
    	}
    	#button-change{
    		margin: 10px;
    	}
    </style>
</head>
<body>
	
	<div id = "navigation-bar">
      {% include 'headlines/navigation_bar.html' %}
    </div>

    <div class="container">
    	<div class="page-header">
            <h1>Keyword Cloud</h1>
            <br>
            <p>Hover over word in cloud to see keyword. To see total list of keywords click on the button below. To see all headlines for a given keyword, click on the keyword in the cloud.</p>
        </div>
    	<div class="header-style">
    		<button class="btn btn-primary" onclick="go_to_list()" id="button-change">Go to List</button>
    		<h3 id = "keywordtext" style="display: inline-block;"></h3>
    	</div>
		<canvas id="cloud1" width="1200" height="700"></canvas>
    </div>
	
	<script>

		function go_to_list(argument) {
			var url = "{% url 'headlines:keyword_list' %}"
			window.location.href = url;
		}

		WordCloud(document.getElementById('cloud1'), 
			{list: {{mydata|safe}},
			 gridSize: 8,
			 shape: 'square',
			 hover: hover_over,
			 click: click_trigger,
			 color: "random-light",
			 backgroundColor: "black"
			});

		function click_trigger(item, dimension, event) {
			var url = "{% url 'headlines:headline_filter' 'foobar' %}".replace("foobar", item[0]);
			window.open(url);
		}

		function hover_over(item, dimension, event){

			document.getElementById("keywordtext").innerHTML = "Current keyword is " + item[0]; 
		}
	</script>

	<br>
	<br>
	<p class = "text-center">*Note: Data based on headlines retrieved since June 24, 2020.</p>
</body>
</html>