{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Keyword Cloud</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	<script src="{% static 'headlines/wordcloud_generator.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
    	.header-style{
    		text-align: center;
    	}
    </style>
</head>
<body>
	
	<div id = "navigation-bar">
      {% include 'headlines/navigation_bar.html' %}
    </div>

    <div class="container header-style">
    	<h1>Keyword Cloud</h1>
		<p id = "keywordtext"></p>
		<canvas id="cloud1" width="1200" height="700"></canvas>
    </div>
	
	<script>
		WordCloud(document.getElementById('cloud1'), 
			{list: {{mydata|safe}},
			 gridSize: 8,
			 shape: 'square',
			 hover: hover_over,
			 click: click_trigger,
			 color: "random-light",
			 backgroundColor: "black"
			});

		function click_trigger(item, dimension, event) {
			var url = "{% url 'headlines:headline_filter' 'foobar' %}".replace("foobar", item[0]);
			window.open(url);
		}

		function hover_over(item, dimension, event){

			document.getElementById("keywordtext").innerHTML = "Keyword is " + item[0]; 
		}
	</script>
</body>
</html>